<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div class="collapse navbar-collapse d-flex justify-content-start">
    <a class="nav-link text-white active h5" th:href="@{/}">Home</a>

    <th:block th:if="${#httpSession.getAttribute('haveSession') == 0}">
        <a class="nav-link text-white active h5" th:href="@{/user/register}">Register</a>
        <a class="nav-link text-white active h5" th:href="@{/user/login}">Login</a>
    </th:block>

    <th:block th:if="${#httpSession.getAttribute('haveSession') == 1}">
        <!--RIGHT SIDE-->
        <a class="nav-link text-white active h5" th:href="@{/user/logout}">Logout</a>
        <!--LEFT SIDE-->
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active h6" th:href="@{/}">Add Brand</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active h6" th:href="@{/}">Add Model</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active h6" th:href="@{/}">Add Offer</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active h6" th:href="@{/}">All Offers</a>
                </li>
            </ul>
        </div>
    </th:block>

</div>

</html>