<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{/fragments/head}"></th:block>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add product</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:object="${productAddBindingModel}" th:action="@{/products/add}" method="POST">


        <th:block th:if="${productAlreadyExists}">
            <small class="text-danger" th:text="|Product already exists!|"> </small>
        </th:block>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input th:field="*{name}" th:errorClass="bg-danger"
                   type="text" class="form-control" id="name" name="name"/>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('name')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea th:field="*{description}" th:errorClass="bg-danger"
                      type="text" class="form-control" id="description" name="description"></textarea>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('description')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Before</label>
            </div>
            <input th:field="*{neededBefore}" th:errorClass="bg-danger"
                   type="datetime-local" class="form-control" id="neededBefore" name="neededBefore"/>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('neededBefore')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" th:errorClass="bg-danger"
                   type="number" step="0.1" class="form-control" id="price" name="price"/>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('price')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select th:errorClass="bg-danger" class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
                <th:block th:each="category : ${allCategories}">
                    <option th:text="${category}" th:value="${category}"></option>
                </th:block>
            </select>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('category')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add product</button>
        </div>
    </form>
</main>

<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
