<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-background">
    <th:block th:include="~{/fragments/nav}"></th:block>
</nav>

<main class="main">


    <div class="container-fluid">
        <h2 class="text-center text-white">Add Brand</h2>

        <form  th:action="@{/brand/add}" method="POST"
               th:object="${brandAddBindingModel}"  class="mt-lg-5 w-15 h-50">

            <div class="col col-md-12">
                <div class="form-group">
                    <div class="label-holder d-flex justify-content-center">
                        <label class="text-center text-white font-weight-bold" for="name">Enter Brand Name
                            <input th:field="*{name}" name="name" id="name"
                                   type="text" class="form-control" placeholder="Brand name" >
                            <th:block th:if="${existingBrand}">
                                <small th:text="| Existing brand |" class="text-danger col-12 text-center"> </small>
                            </th:block>
                            <!-- ERRORS -->
                            <th:block th:each="e : ${#fields.errors('name')}">
                                <small th:text="${e}" class="text-danger col-12 text-center"> </small>
                            </th:block>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-secondary" value="Add Brand"/>
                    </div>
                </div>
            </div>
        </form>

    </div>
</main>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>

</body>
</html>
