<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-background">
    <th:block th:include="~{/fragments/nav}"></th:block>
</nav>

<main class="main">
    <div class="container-fluid">
        <h2 class="text-center text-white">Add Model</h2>

        <form  th:action="@{/models/add}" method="POST"
               th:object="${modelAddBindingModel}"  class="mt-lg-5 w-15 h-50">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="brand">Select Brand
                                <select id="brand" name="brand" class="form-control">
                                    <option value="">Select Brand</option>
                                    <th:block th:each="brand : ${allBrandsNames}">
                                        <option th:text="${brand}" th:value="${brand}"></option>
                                    </th:block>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="name">Enter Model Name
                                <input type="text" class="form-control" placeholder="Model name"
                                       th:field="*{name}" name="name" id="name">
                                <!-- ERRORS -->
                                <th:block th:if="${existingModel}">
                                    <small th:text="| Existing model |" class="text-danger col-12 text-center"> </small>
                                </th:block>
                                <th:block th:each="e : ${#fields.errors('name')}">
                                    <small th:text="${e}" class="text-danger col-12 text-center"> </small>
                                </th:block>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="startYear">Enter Start year
                                <input type="number" class="form-control" placeholder="Start year"
                                       th:field="*{startYear}" name="startYear" id="startYear" min="1950">
                                <!-- ERRORS -->
                                <th:block th:each="e : ${#fields.errors('startYear')}">
                                    <small th:text="${e}" class="text-danger col-12 text-center"> </small>
                                </th:block>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="endYear">Enter End year
                                <input type="number" class="form-control" placeholder="End year"
                                       th:field="*{endYear}" name="endYear"  id="endYear" min="1950">
                                <!-- ERRORS -->
                                <th:block th:each="e : ${#fields.errors('endYear')}">
                                    <small th:text="${e}" class="text-danger col-12 text-center"> </small>
                                </th:block>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="name">Enter image URL
                                <input type="text" class="form-control" placeholder="Image url"
                                       th:field="*{imageUrl}"  name="imageUrl" id="imageUrl">
                                <!-- ERRORS -->
                                <th:block th:each="e : ${#fields.errors('imageUrl')}">
                                    <small th:text="${e}" class="text-danger col-12 text-center"> </small>
                                </th:block>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-secondary" value="Add Model"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>

</body>
</html>
