<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{/fragments/head}"></th:block>

<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Item</span></h1>
    <hr class="hr-3"/>

    <form class="mx-auto w-25 bg-dark p-3 rounded text-center"
          th:object="${itemAddBindingModel}" th:action="@{/items/add}" method="POST">

        <th:block th:if="${itemAlreadyExists}">
            <small class="text-danger" th:text="|Item already exists!|"> </small>
        </th:block>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input th:field="*{name}" th:errorClass="bg-danger"
                   type="text" class="form-control" id="name" name="name"/>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('name')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <input th:field="*{description}" th:errorClass="bg-danger"
                   type="text" class="form-control" id="description" name="description"/>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('description')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
                <th:block th:each="category : ${allCategories}">
                    <option th:text="${category}" th:value="${category}"></option>
                </th:block>
            </select>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('category')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="gender" class="h4 mb-2">Gender</label>
            </div>
            <select class="browser-default custom-select" id="gender" name="gender">
                <option value="">Select gender</option>
                <th:block th:each="gender : ${allGenders}">
                    <option th:text="${gender}" th:value="${gender}"></option>
                </th:block>
            </select>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('gender')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" th:errorClass="bg-danger"
                   type="number" class="form-control" id="price" name="price"/>
            <!--ERRORS-->
            <th:block th:each="e : ${#fields.errors('price')}">
                <div class="mx-auto text-center">
                    <small class="text-danger" th:text="${e}"> </small>
                </div>
            </th:block>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Item</button>
        </div>
    </form>

</main>
<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
